.app {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.board {
    width: calc(64 * 8px);
    height: calc(64 * 8px);
    display: flex;
    flex-wrap: wrap;
}
.cell {
    width: 64px;
    height: 64px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.cell img {
    width: 42px;
    height: 42px;
}
.black {
    background: deepskyblue;
}
.white {
    background: #eed4ac ;
}
.selectedCell {
    background: brown;
}
