.app {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    padding-top: 35px;
}
.main {
    display: flex;
    justify-content: center;
    width: 100%;

}
.board {
    /*width: calc(64 * 8px);*/
    /*height: calc(64 * 8px);*/
    /*display: flex;*/
    /*flex-wrap: wrap;*/
}
.board__row {
    display: flex;
    align-items: center;
}
.cell {
    width: 64px;
    height: 64px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.cell img {
    width: 42px;
    height: 42px;
}
.black {
    background: deepskyblue;
}
.white {
    background: #eed4ac ;
}
.selectedCell {
    background: lightgreen;
}
.available {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background: lightgreen;
}
.canBeEaten {
    background: brown;
}
.lost {
    height: calc(50vh - 60px);
    padding: 30px;
    margin-left: 50px;
    background-color: lightgray;
}

.modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
}
.modal__formChoose {
    padding: 10px;
}
.formChoose {
    background-color: white;
    width: 200px;
    border-radius: 5px;
    position: relative;
}
.formChoose__list {
    list-style: none;
}
.close {
    position: absolute;
    top: 5px;
    right: 10px;
    cursor: pointer;
}
.myAlert {
    min-height: 30px;
    background-color: red;
    position: absolute;
    top: -40px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    transition: top 0.5s;
}
.myAlert_visible {
    top: 0;
}
.character {
    width: 64px;
    text-align: center;
}