.app {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
}
.main {
    display: flex;
    justify-content: center;
    width: 100%;

}
.board {
    width: calc(64 * 8px);
    height: calc(64 * 8px);
    display: flex;
    flex-wrap: wrap;
}
.cell {
    width: 64px;
    height: 64px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.cell img {
    width: 42px;
    height: 42px;
}
.black {
    background: deepskyblue;
}
.white {
    background: #eed4ac ;
}
.selectedCell {
    background: lightgreen;
}
.available {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background: lightgreen;
}
.canBeEaten {
    background: brown;
}
.lost {
    height: calc(50vh - 60px);
    padding: 30px;
    margin-left: 50px;
    background-color: lightgray;
}
